{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
		["transform-object-rest-spread"],
    "babel-plugin-transform-class-properties",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        "react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
