
.form {
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
	padding: 3rem 4rem;

	&__label--hidden {
		text-indent: -9999px;
		position: absolute;
		width: 0;
		height: 0;
	}

	&__link {
		color: #75c0f6;
		text-decoration: none;
		margin-top: 1rem;
		font-style: 14px;
	}
}
